<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="net.sf.mpxj-common" version="5.11.0" targetFramework="net46" />
  <package id="net.sf.mpxj-for-csharp" version="5.11.0" targetFramework="net46" />
  <package id="net.sf.mpxj-ikvm" version="5.11.0" targetFramework="net46" />
</packages>